#engagementphotos a {
	float: left;
	margin: 2px;
	width: 225px;
	height: 150px;
}

.bridalparty img {
	width: 200px;
	height: 200px;
	margin: 0 10px 10px 0;
	float: left;
}

.bridalparty > div:nth-child(odd) {
	margin: 0 0 10px 10px;
	float: right;
}

.bridalparty h3 {
	margin-top: 0 20px 20px;
}

.bridalparty h3:nth-child(even) {
	clear: left;
}

.imagewrapper:hover .formalimage, .whimsicalimage {
	display: none;
}

.imagewrapper:hover .whimsicalimage, .formalimage {
	display: block;
}

blockquote {
	margin: 19px 0;
	padding-left: 10px;
	border-left: 4px solid #053055;
}

#registryphotos img {
	float: left;
	margin: 2px;
}

.address {
	margin-left: 20px;
}

.address span {
	display: block;
}