body {
	/* IE 8 and below does not support multiple background images */
	background-image: url(../images/backgrounds/Background.png);
	background-repeat: repeat-y;
	background-position: center top; 
}

ul a {
	cursor: pointer;
}

#registryphotos img, #servicephotos img, #receptionphotos img, #hotelphotos img {
	float: none !important;
	margin: 5px auto !important;
	width: 540px !important;
}