li img {
	position: absolute;
}

/* ------------------- */
/* - Bride and Groom - */
/* ------------------- */

#brideandgroom {
	z-index: 1;
	bottom: 5px;
	left: 5px;
}

#jeremyshead {
	z-index: 2;
	bottom: 125px;
	left: 55px;
	transition: transform .4s ease-out;
}

#meaghanshead {
	z-index: 3;
	bottom: 123px;
	left: 113px;
}

#meaghansrighteye {
	z-index: 4;
	bottom: 150px;
	left: 116px;
}

#meaghanslefteye {
	z-index: 4;
	bottom: 149px;
	left: 143px;
}

#jeremysrighteye {
	z-index: 4;
	bottom: 162px;
	left: 56px;
}

#jeremyslefteye {
	z-index: 4;
	bottom: 161px;
	left: 82px;
}

#meaghansrighteyelash {
	z-index: 5;
	bottom: 151px;
	left: 112px;
}

#meaghanslefteyelash {
	z-index: 5;
	bottom: 151px;
	left: 143px;
}

#jeremysrighteyelash {
	z-index: 5;
	bottom: 163px;
	left: 55px;
}

#jeremyslefteyelash {
	z-index: 5;
	bottom: 163px;
	left: 82px;
}

#arm {
	z-index: 6;
	bottom: 79px;
	left: 77px;
	transition: transform .4s ease-out;
}

#bridegroommask {
	z-index: 7;
	bottom: 0px;
	left: 0px;
}

#meaghanshead, #meaghanslefteyelash, #meaghansrighteyelash {
	transition: transform .2s ease-out;
}

#meaghanslefteye, #meaghansrighteye {
	transition: height .2s ease-out;
	transition: opacity .2s ease-out;
}

#jeremyslefteye, #jeremysrighteye {
	transition: height .3s ease-out;
	transition: opacity .3s ease-out;
}

#jeremyslefteyelash, #jeremysrighteyelash {
	transition: transform .3s ease-out;
}

li:hover #meaghanshead {
	transform:rotate(-8deg);
}

li:hover #meaghanslefteyelash {
	transform:rotate(8deg)  translateY(2px);
}

li:hover #meaghansrighteyelash {
	transform:rotate(-10deg)  translateY(5px);
}

li:hover #jeremyshead {
	transform:rotate(10deg);
}

li:hover #jeremyslefteyelash {
	transform: rotate(10deg);
}

li:hover #jeremysrighteyelash {
	transform: translateY(-4px);
}

li:hover #meaghansrighteye, li:hover #meaghanslefteye, li:hover #jeremyslefteye, li:hover #jeremysrighteye {
	height: 0px;
	opacity: 0;
}

li:hover #arm {
	transform: rotate(-10deg) translateX(4px) translateY(2px);
}

/* ---------------- */
/* - Bridal Party - */
/* ---------------- */

#bridalpartyfloor {
	z-index: 1;
	bottom: 5px;
	left: 5px;
}

#suit {
	z-index: 2;
	bottom: 28px;
	left: 105px;
	transition: transform .3s ease-in-out;
}

#dress {
	z-index: 3;
	bottom: 51px;
	left: 37px;
	transition: transform .2s ease-in-out;
}

#bridalpartymask {
	z-index: 4;
	bottom: 0px;
	left: 0px;
}

li:hover #dress {
	transform: rotate(25deg);
}

li:hover #suit {
	transform: rotate(-20deg);
}

/* -------------- */
/* - Registries - */
/* -------------- */

#registriesfloor {
	z-index: 1;
	bottom: 5px;
	left: 5px;
}

#gift {
	z-index: 2;
	left: 42px;
	bottom: 37px;
	transition: transform .4s ease-out;
}

#bow {
	z-index: 3;
	left: 21px;
	bottom: 95px;
	transition: transform 0.3s ease-out;
}

#registriesmask {
	z-index: 4;
	bottom: 0px;
	left: 0px;
}

li:hover #gift {
	transform:rotate(-10deg);
}

li:hover #bow {
	transform:rotate(14deg) translateX(4px) translateY(-6px);
}

/* ----------- */
/* - Service - */
/* ----------- */

#servicebackground {
	z-index: 1;
	bottom: 5px;
	left: 5px;
}

#tree1 {
	z-index: 2;
	bottom: 75px;
	left: 27px;
	transition: transform .4s ease-out;
}
		
#hall {
	z-index: 3;
	bottom: 65px;
	left: 10px;
}

#tree2 {
	z-index: 4;
	bottom: 53px;
	left: 9px;
}

#bush1 {
	z-index: 5;
	bottom: 61px;
	left: 170px;
}

#church {
	z-index: 6;
	bottom: 54px;
	left: 63px;
}

#servicemask {
	z-index: 7;
	bottom: 0px;
	left: 0px;
}

#church, #hall {
	transition: transform .3s ease-out;
}

#tree2, #bush1 {
	transition: transform .2s ease-out;
}

li:hover #church {
	transform: scale(1.15, 1.15);
}

li:hover #hall {
	transform: scale(1.05, 1.105) translateY(4px);	
}

li:hover #tree1 {
	transform: rotate(9deg) translateX(4px) translateY(2px);
}

li:hover #tree2 {
	transform: rotate(-8deg) translateX(-4px) translateY(-2px);
}

li:hover #bush1 {
	transform: rotate(3deg) translateX(4px) translateY(2px);
}

/* ------------- */
/* - Reception - */
/* ------------- */

#sky1 {
	z-index: 1;
	bottom: 5px;
	left: 5px;
}

#clouds1 {
	z-index: 2;
	bottom: 87px;
	left: -16px;
}

#clouds2 {
	z-index: 2;
	bottom: 148px;
	left: 81px;
}

#water1 {
	z-index: 3;
	bottom: -4px;
	left: -17px;
}

#bubbles {
	z-index: 4;
	bottom: 41px;
	left: 32px;
	transition: transform 2s ease-out;
}

#boat {
	z-index: 5;
	bottom: 34px;
	left: -53px;
	transition: transform 1s ease-out;
}

#pier {
	z-index: 6;
	bottom: -87px;
	left: -11px;
}

#plantleft {
	z-index: 7;
	bottom: 62px;
	left: 90px;
}

#plantright {
	z-index: 7;
	bottom: 75px;
	left: 144px;
}

#receptionmask {
	z-index: 8;
	bottom: 0px;
	left: 0px;
}

#altertop {
	z-index: 9;
	bottom: 156px;
	left: 99px;
}

#altertop, #plantleft, #plantright {
	transition: transform .3s ease-out;
}

#clouds1, #clouds2 {
	transition: transform 1.5s ease-out;
}

li:hover #boat {
	transform:  translateX(30px) translateY(-5px);
}

li:hover #bubbles {
	transform: translateX(20px) translateY(-1px);
}

li:hover #clouds1 {
	transform: translateX(16px) translateY(5px);
}

li:hover #clouds2 {
	transform: translateX(-45px) translateY(-10px);
}

li:hover #plantleft {
	transform: rotate(9deg) translateX(-5px);
}

li:hover #plantright {
	transform: rotate(-9deg) translateX(5px);
}

li:hover #altertop {
	transform: rotate(-9deg) translateX(-4px) ;
}

/* ----------------- */
/* - Accomodations - */
/* ----------------- */
			
#sky2 {
	z-index: 1;
	bottom: 5px;
	left: 5px;
}

#clouds3 {
	z-index: 2;
	bottom: 71px;
	left: 16px;
}

#beach {
	z-index: 3;
	bottom: -22px;
	left: -27px;
}

#bush4 {
	z-index: 4;
	bottom: 85px;
	left: 129px;
}

#chairs {
	z-index: 5;
	bottom: 78px;
	left: 143px;
}

#hotel {
	z-index: 5;
	bottom: 49px;
	left: 10px;
}

#water2 {
	z-index: 6;
	bottom: -39px;
	left: 75px;
	transition: transform .5s ease-out;
}

#water3 {
	z-index: 7;
	bottom: -21px;
	left: 154px;
	transition: transform 1.0s ease-out;
}

#water4 {
	z-index: 8;
	bottom: -13px;
	left: 179px;
}

#palmtreetrunk {
	z-index: 9;
	bottom: 42px;
	left: 32px;
}

#bush3 {
	z-index: 10;
	bottom: 25px;
	left: -26px;
}

#bush2 {
	z-index: 11;
	bottom: 30px;
	left: -33px;
}

#accomodationmask {
	z-index: 12;
	bottom: 0px;
	left: 0px;
}

#palmtreetop {
	z-index: 13;
	bottom: 100px;
	left: 49px;
}

#palmtreetop, #palmtreetrunk {
	transition: transform .4s ease-out;
}

#hotel, #bush3 {
	transition: transform .3s ease-out;
}

#water4, #clouds3 {
	transition: transform 1.5s ease-out;
}

#bush4, #bush2 {
	transition: transform .2s ease-out;
}

li:hover #hotel {
	transform: scale(1.15, 1.15);
}

li:hover #clouds3 {
	transform: translateX(25px) translateY(5px);
}

li:hover #bush2 {
	transform: rotate(10deg);
}

li:hover #bush3 {
	transform: rotate(-10deg);
}

li:hover #bush4 {
	transform: rotate(5deg);
}

li:hover #water2, li:hover #water3, li:hover #water4 {
	transform: translateX(-10px) translateY(-5px);
}

li:hover #palmtreetrunk {
	transform: rotate(10deg) translateX(10px) translateY(-5px);
}

li:hover #palmtreetop {
	transform:  translateX(15px) translateY(5px);
}
