/* ------------- */
/* - Body/HTML - */
/* ------------- */
body {
	font-family: 'Quicksand', 'Helvetica', sans-serif;
	background-color: #FFF;
}

html {
	/* http://stackoverflow.com/questions/9733011/safari-changing-font-weights-when-unrelated-animations-are-running */
	-webkit-font-smoothing: antialiased; 
}

/* ---------- */
/* - Header - */
/* ---------- */

header a, header a:hover, header a:visited {
	text-decoration: none;
	color: #000;
}

h1, h2 {
	font-family: 'Euphoria Script', cursive;
	color: #053055;
	text-align: center;
}


/* -------------- */
/* - Navigation - */
/* -------------- */

nav div {
	float: left;
}

nav ul {
	list-style:none;
	padding: 0;
	margin: 0;
}

nav li {
	float:left;	
	width: 250px;
	height: 250px;
	margin: 5px;
	background-color: #053055;
	position: relative;
	overflow: hidden;
}

li h3 {
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	text-align: right;
	margin: 0;
	transition: margin-right 0.2s ease-out;
	
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 99;
}

li:hover h3 {
	margin-right: 15px;
}

/* ----------- */
/* - Content - */
/* ----------- */

article {
	float: left;
}

article h1, article h2, article h3 {
	font-family: 'Quicksand', 'Helvetica', sans-serif;
}

article h1, article h2 {
	clear: both;
}

article h1 {
	font-size: 22px;
}

article h1:before {
	content: '-';
}

article h1:after {
	content: '-';
}

article h2 {
	font-size: 18px;
	text-align: left;
}

article h3 {
	font-size: 16px;
}

/* ---------- */
/* - Footer - */
/* ---------- */

footer {
	border-top-style:ridge;
	border-top-width:2px;
	float: left;
	height: 150px !important;
	bottom:0px;
	font-size: 13px;
	text-align: center;
}