@media only screen and (max-device-width: 480px) {
    /* iPhone */
   
   
	/* , only screen and (min-device-width: 640px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2)  */
   
   body {
		width: 260px !important;
		margin: 0 auto !important;
		background: none !important;
/*		background:url(../images/Background_Phone.png)  no-repeat top center !important;*/
	}
	
	#imagePanel {
		width: 260px !important;
	}
	
	.spacer {
		display: none !important;
	}
	
	article {
		margin: 0 5px !important;
	}

	footer {
		width: 240px !important;
		margin: 10px !important;
	}
   
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* iPad */
	body {
		background-color: red !important;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	/* iPad 3 */
	body {
		background-color: blue !important;
	}
}


	
/* Default - Desktop */

body {
	width: 980px;
	margin: 0 auto;
	background:url(../images/Background.png)  no-repeat top center;
}

#imagePanel {
	width: 780px;
}

.spacer {
	width: 98px; /* Remember to substract 2 for left and right padding */
	padding:1px; /* Give padding so empty spacer span still takes up space */
}

article {
	margin: 0 30px;
}

footer {
	width: 920px;
	margin: 30px;
}
